# Mac Stuff
.DS_Store

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.dat
*.cdb
*.qmsg
*.ddb
*.xml
*.rdb
*.kpt
*.idb

# Mac Temporary Files
*.DS_Store

# Quartus Stuff
*sopc_*
*.jdi
*.ptf.*
*.sof
*.qws
*.smsg
*_inst.vhd
*_generation_script*
*.done
*.qarlog
*.rpt
*.summary
*.qws
*.cmp
*.eqn
*.html
*.jpg
*.bak
*.qar
*.sopc_builder
*~
*.sdc
*.tcl
*.pin
*.mif
*.hex
*.db
db/
output_files/
synthesis/
simulation/
incremental_db/
timing/
testbench/
*_sim/
*.bak

*.aux

dissertation/dissertation.acr
dissertation/dissertation.aux
dissertation/dissertation.alg
dissertation/dissertation.glg
dissertation/dissertation.glo
dissertation/dissertation.gls
dissertation/dissertation.glsdefs
dissertation/dissertation.lof
dissertation/dissertation.lot
dissertation/dissertation.xdy

*.log

dissertation/dissertation.log

*.gz

dissertation/dissertation.synctex.gz

*.toc

dissertation/dissertation.toc

*.blg

*.bbl

*.sum

*.acn

*.glo

*.ist

*.lof

*.lot

*.glg

*.gls

*.acn

*.acn

dissertation/dissertation.acn

*.dvi

dissertation/dissertation.dvi

*.ist

dissertation/dissertation.ist
*.asv
